
{% load bootstrap3 %}
{% load static%}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  {% if title %}
  <title>Awwards Project - {{title}}</title>
  {% else %}
    <title> Awwards Project </title>
  {% endif %}

  {% block styles %}
    {% bootstrap_css %}
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two|Niconne&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/awwards.css' %}">
  {% endblock %}

</head>
<body>
    {% include "navbar.html" %}
  <div class="container">
   

    {% block content %} 
    
    {%endblock%}

    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     {% bootstrap_javascript %}
    {% endblock %}
  </div>
</body>
</html>