{%extends 'base.html'%}
{%load bootstrap3%}
{%block content%}

<hr>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12"
        style="background-image:url(/media/photos/);margin-top: -3%;height: 300px;">
        <br>

        <h4 style="margin-left: 40%;font-family: 'Acme', sans-serif;"><u>Score</u></h4>
        <p style="margin-left: 40%;font-family: 'Acme', sans-serif;">Design: {{project.design}}</p>
        <p style="margin-left: 40%;font-family: 'Acme', sans-serif;">Usability: {{project.content}}</p>
        <p style="margin-left: 40%;font-family: 'Acme', sans-serif;">Content: {{project.content}}</p>


      </div>
      
        {% for project in projects %}
        <div class="col-md-4">

          <div class="col-md-12 col-md-offset-1 col-sm-12">
            <div class="uk-card uk-card-default uk-card-body uk-width-25-2@m" style="margin-bottom: 5px;">
              <img style=" margin-top: 10px; margin-bottom: 5px;width:400px; height:200px;" src="{{project.image.url}}"
                class="img-thumbnail photo" alt="Image" data-toggle="modal" data-target="#{{image.id}}">
              <hr class="uk-divider-icon">
              <div class="search-title-center">
                <h5 class="uk-card-title" style="color: black;font-family: 'Acme', sans-serif;text-align: center;">
                  {{project.title}}</h5>

                <p style="font-family: 'Acme', sans-serif;text-align: center;background-color:#D9DCDC"><a
                    href="{% url 'project' project.id%}">View details</a></p>
              </div>
            </div>
          </div>
        </div>
        {%endfor%}



{%endblock%}

